*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse #
.settings
.project
.classpath
.studio
target

# Apple # 
.DS_Store

# Intellij #
.idea
*.iml
*.log

# logback
logback.out.xml

Node/backend/src/main/resources/public/
Node/backend/target
Node/frontend/dist/
Node/frontend/node/
Node/frontend/node_modules/
Node/frontend/npm-debug.log
Node/frontend/target
Node/frontend/test-output
Node/frontend/tests/e2e/reports
Node/frontend/tests/unit/coverage
Node/frontend/yarn-error.log
Node/frontend/yarn.lock
Node/security/target/
selenium-debug.log

!.mvn/wrapper/maven-wrapper.jar
